.DS_Store
.idea/
node_modules
npm-debug.log.*
yarn-debug.log.*
client/dist
.vscode/
*.zip
csfake/*
package-lock.json
out
user_config.cmd
user_config.sh
dist
tmpFolder/
outputFolder/
scripts/config.cfg
scripts/__pycache__